{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>

<form method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.username.label }}<br> {{ form.username(size=32) }}</p>
    {% for e in form.username.errors %}
            <span style="color: red">{{ e }}</span>
        {% endfor %}
    <p>{{ form.password.label }} {{ form.password(size=32) }}</p>
    {% for e in form.password.errors %}
            <span style="color: red">{{ e }}</span>
        {% endfor %}
    <p>{{ form.remember.label }} {{ form.remember() }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}